################################################################################
# スキーマ定義を行う設定ファイル
################################################################################
# バッチリクエスト
batch-request.table-name=batch_request
batch-request.request-id-column-name=request_id
batch-request.active-flg-column-name=process_active_flg
